.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-element {
    width: 320px;
    height: 240px;
    margin-bottom: 10px;
  }
  
  .capture-button {
    background-color: #ff6600; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .capture-button:hover {
    background-color: #0080ff; /* Azul más oscuro */
  }
  
  .capture-button:disabled {
    background-color: #b3b3b3; /* Gris */
    cursor: not-allowed;
  }
  